# see https://editorconfig.org/
root = true

[*]
indent_style = space
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_size = 4
tab_width = 4
end_of_line = lf

[*.{cmd,ps1,csv,doskey}]
end_of_line = crlf

[*.{sh,yml}]
indent_size = 2

