[submodule "vimfiles/bundle/pathogen"]
	path = vimfiles/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vimfiles/bundle/cscope"]
	path = vimfiles/bundle/cscope
	url = https://github.com/brookhong/cscope.vim.git
    ignore = dirty
[submodule "vimfiles/bundle/command-t"]
	path = vimfiles/bundle/command-t
	url = git://git.wincent.com/command-t.git
    ignore = dirty
[submodule "vimfiles/bundle/vim-visual-star-search"]
	path = vimfiles/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
