[submodule "vimfiles/bundle/pathogen"]
	path = vimfiles/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "vimfiles/bundle/cscope"]
	path = vimfiles/bundle/cscope
	url = https://github.com/brookhong/cscope.vim.git
    ignore = dirty
[submodule "vimfiles/bundle/vim-visual-star-search"]
	path = vimfiles/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "vimfiles/bundle/vim-commentary"]
	path = vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-unimpaired"]
	path = vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vimfiles/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/vim-powerline"]
	path = vimfiles/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vimfiles/bundle/undotree"]
	path = vimfiles/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/csapprox"]
	path = vimfiles/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vimfiles/bundle/vim-seek"]
	path = vimfiles/bundle/vim-seek
	url = https://github.com/goldfeld/vim-seek.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/vim-abolish"]
	path = vimfiles/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vimfiles/bundle/tern_for_vim"]
	path = vimfiles/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "vimfiles/bundle/vim-bufferline"]
	path = vimfiles/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vimfiles/bundle/vim-jade"]
	path = vimfiles/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
